h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  text-align: center;
  margin: 0px;
}
.money:hover {
  color: green;
  transition: all 0.5s linear;
}
.autoprinters {
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  position: absolute;
  left: 10px;
  top: 150px;
  margin: 0px;
}
body {
  background-color: #f8f8ff;
  color: #2C2F33;
}
.printmoney {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-align: center;
  border-color: black;
  border-radius: 10px;
  border-width: 4px;
  width: 150px;
  height: 30px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.printmoney:hover {
  border-color: green;
  transition: all 0.5s linear;
}
.themetoggle {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 16px;
  border-color: black;
  border-radius: 10px;
  border-width: 4px;
  width: 150px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.themetoggle:hover {
  border-color: green;
  transition: all 0.5s linear;
}
.theme-toggle {
  background-color: #2C2F33;
  color: #f8f8ff;
}
.buyautoprinter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  border-color: black;
  border-radius: 10px;
  border-width: 4px;
  width: 250px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 150px;
}
.buyautoprinter:hover {
  border-color: green;
  transition: all 0.5s linear;
}
