h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
}
.money:hover {
  color: green;
  transition: all 0.5s linear;
}
.autoprinters {
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  position: absolute;
  left: 0.5%;
  top: 150px;
  margin: 0px;
}
body {
  background-color: #F4F4F6;
  color: #2C2F33;
}
.printmoney {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  text-color: #ffffff;
  border-color: #008000;
  border-radius: 10px;
  border-width: 4px;
  width: 160px;
  height: 40px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.themetoggle {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 16px;
  border-color: black;
  border-radius: 10px;
  border-width: 4px;
  width: 150px;
  height: 30px;
  position: absolute;
  right: 0.25%;
  top: 10px;
}
.themetoggle:hover {
  border-color: green;
}
.theme-toggle {
  background-color: #2C2F33;
  color: #F4F4F6;
}
.savegame {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 16px;
  border-color: black;
  color:rgb(39, 39,39);
  border-radius: 10px;
  border-width: 4px;
  width: 150px;
  height: 30px;
  position: absolute;
  left: 0.25%;
  top: 10px;
}
.savegame:hover {
  border-color:rgb(0, 130, 130);
}
.loadgame {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 16px;
  border-color: black;
  color:rgb(39, 39,39);
  border-radius: 10px;
  border-width: 4px;
  width: 150px;
  height: 30px;
  position: absolute;
  left: 0.25%;
  top: 40px;
}
.loadgame:hover {
  border-color:green
}
.savekill {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 16px;
  border-color: black;
  color:rgb(39, 39,39);
  border-radius: 10px;
  border-width: 4px;
  width: 150px;
  height: 30px;
  position: absolute;
  left: 0.25%;
  top: 70px;
}
.savekill:hover {
  border-color:red;
}
.buyautoprinter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  border-color: black;
  border-radius: 10px;
  border-width: 4px;
  width: 250px;
  height: 40px;
  position: absolute;
  right: 0.25%;
  top: 150px;
}
.buyautoprinter:hover {
  border-color: green;
}
/*font-family: 'Courier New', Courier, monospace;
  position: absolute;
  left or right: 0.5%;
  border-color: black;
  background-color: black
  color: #f8f8ff;
  top: x %;
  margin: 0px;
  useful format*\
