h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 0px;
}
h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  position: absolute;
  left: 10px;
  top: 150px;
  margin: 0px;
}
.printmoney {
  font-family: 'Courier New', Courier, monospace;
  border-color: black;
  border-radius: 10px;
  position: absolute;
  right: 600px;
  top: 80px;
}
.themetoggle {
  font-family: 'Courier New', Courier, monospace;
  border-color: black;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.theme-toggle {
  background-color: black;
  color: white;
}
.autoprinter {
  font-family: 'Courier New', Courier, monospace;
  border-color: black;
  border-radius: 10px;
  position: absolute;
  right: 50px;
  top: 150px;
}
.cantaffordprinter {
  font-family: 'Courier New', Courier, monospace;
  color: red;
  position: absolute;
  right: 50px;
  top: 130px;
}
